@import '../../styles/config.scss';

.order-details {
  padding: 0.5rem;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;

  .header-block,
  .order-row span {
    width: 25%;
  }

  .item-details {
    @include flexAlCenter();

    .image-container {
      display: inline-block;
      width: 25%;

      img {
        width: 80%;
        display: inline-block;
        margin: 0 auto;
      }
    }

    span {
      width: 25%;
      padding-left: 0.5rem
    }
  }

  .status-bar {
    width: 80%;
    margin: 1rem auto;
    padding-left: 10%;
    @include flexAlCenter();

    &-item {
      width: 25%;
      @include flexCol();

      &:last-of-type {
        width: 10%;
      }
    }

    &-visual {
      @include flexAlCenter();
      @include size(100%, 2rem);
    }

    &-description {
      font-size: $smaller-font;
      @include size(95%, 2rem);
    }

    &-circle {
      border-radius: 50%;
      border: $border-style;
      @include size(1rem);
    }

    &-strip {
      border: $border-style;
      border-left: none;
      border-right: none;
      @include size(calc(100% - 1rem), 0.3rem);
    }

    &-text {
      width: 25%;
    }

    .done {
      background-color: $gold-color;
    }
  }

  .table-header .header-block {
    padding-left: 0.5rem;
  }
}

.order-row {
  width: 100%;
  min-height: 5rem;
  border-bottom: 0.05rem solid $gold-color;
  padding: 1rem 0;
  @include flexAlCenter();

  span {
    width: 20%;
    padding-left: 0.5rem;
    font-size: $smaller-font;
  }

  .details {
    padding-left: 0;
  }

  .cta-button {
    line-height: 2rem;
    font-size: $smaller-font;
    @include size(4rem, 2rem);
  }
}
