@import '../../styles/config.scss';

.benefits-banner {
  align-items: center;
  text-align: center;
  @include flexSpAround();
  @include size(100%, 20vh);

  &-box {
    width: 20%;
    border-bottom: 0.05rem solid $sub-color;
    text-shadow: 0.05rem 0.05rem $gold-color;
  }

  &-title {
    span {
      display: block;
      font-weight: bold;
    }
  }
}
