@import '../../styles//config.scss';

.search {
  &-page {
    .header-banner {
      @include flexColAlJuCenter();
    }

    .items-list {
      @include gridTwoFour();
    }

    .empty-title,
    .search-results h2 {
      text-align: center;
    }
  }

  &-title {
    color: $base-color;
    text-shadow: 0.1rem 0.1rem $main-color;
  }

  &-blok {
    width: 90%;
    max-width: 25rem;
    background-color: $background-color-light;
    padding: 1rem;
    text-align: center;
  }

  &-input,
  &-button {
    border: $border-style;
    padding: 0.5rem;
  }

  &-filter {
    width: 80%;
    max-width: 25rem;
    margin: 1rem auto;
    @include flexSpAround();

    &-button {
      text-transform: uppercase;
      background-color: $base-color;
      border: $border-style;

      &.active {
        color: $base-color;
        background-color: $main-color;
      }
    }
  }
}
