@import '../../styles/config.scss';

.faq {
  &-section {
    @include flexColAlCenter();
  }

  &-accordion {
    width: 80%;
    max-width: 48rem;
  }

  &-question {
    width: 100%;
    padding: 0.5rem;
    background-color: $background-color-light;
    border: none;
    font-size: $medium-font;
    text-align: left;
  }

  &-answer {
    opacity: 0;
    max-height: 0;
    padding: 0.5rem;
    transition: opacity 0s ease-out, max-height 0.5s ease-out;
    overflow: hidden;

    &.visible {
      opacity: 1;
      max-height: 10rem;
    }
  }    
}
