@import './config.scss';

.cart-icon {
  width: 2.8rem;
  height: 2.8rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .item-count {
    position: absolute;
    font-size: $smaller-font;
    font-weight: bold;
    bottom: 0.7rem;
  }
}

.cart-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color-light;
  z-index: 5;

  .cart {
    &-close {
      margin-left: auto;
    }

    &-body{
      width: 15rem;
      height: 23rem;
      display: flex;
      flex-direction: column;
      padding: 1.25rem;
      border: $border-style;
      background-color: $base-color;
    
      &.empty {
        height: 6rem;
        text-align: center;
      }

      .cta-button {
        margin-top: auto;
        text-transform: uppercase;
      }
    }

    &-items {
      height: 15rem;
      display: flex;
      flex-direction: column;
      overflow: scroll;
    }

    &-item {
      width: 100%;
      display: flex;
      height: 5rem;
      margin-bottom: 1rem;
    
      .item-image {
        width: 30%;
      }
    
      .item-details {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0.5rem 1rem;
    
        .name {
          $normal-font: $normal-font;
        }
      }
    }
  }
}
