// Colors
$base-color: white;
$sub-color: grey;
$gold-color: gold;
$main-color: black;
$error-color: #FF0404;
$google-blue: #4285F4;
$background-color-light: rgba(128, 128, 128, 0.6);
$background-color-lighter: rgba(128, 128, 128, 0.3);

// Font size
$xsmall-font: 0.5rem;
$smaller-font: 0.75rem;
$small-font: 0.9rem;
$normal-font: 1rem;
$medium-font: 1.125rem;
$title-font: 1.5rem;
$large-font: 2rem;
$xlarger-font: 3rem;

// Other
$border-style: 0.05rem solid $main-color;

// mixin
@mixin shrinkLabel {
  top: -1rem;
  font-size: $smaller-font;
  color: $main-color;
}

@mixin sectionTitle {
  font-size: $large-font;
  text-align: center;
}

// Size
@mixin size($size, $height: false) {
  width: $size;

  @if $height {
    height: $height
  } @else {
    height: $size;
  }
}

// Position
@mixin fixedPosition($top: false, $left: false) {
  position: fixed;

  @if $top {
    top: $top
  } @else {
    top: 0;
  }

  @if $left {
    left: $left
  } @else {
    left: 0;
  }
}

// Position
@mixin fixedPosition($top: false, $left: false) {
  position: fixed;

  @if $top {
    top: $top
  } @else {
    top: 0;
  }

  @if $left {
    left: $left
  } @else {
    left: 0;
  }
}

@mixin absoluteLeftPosition($top: false, $left: false) {
  position: absolute;

  @if $top {
    top: $top
  } @else {
    top: 0;
  }

  @if $left {
    left: $left
  } @else {
    left: 0;
  }
}

@mixin absoluteRightPosition($top: false, $right: false) {
  position: absolute;

  @if $top {
    top: $top
  } @else {
    top: 0;
  }

  @if $right {
    right: $right
  } @else {
    right: 0;
  }
}

// Flex
@mixin flexColAlCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flexColAlJuCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flexAlJuCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexColJuCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flexJuCenter {
  display: flex;
  justify-content: center;
}

@mixin flexSpAround {
  display: flex;
  justify-content: space-around;
}

@mixin flexSpBetween {
  display: flex;
  justify-content: space-between;
}

@mixin flexAlCenter {
  display: flex;
  align-items: center;
}

@mixin flexCol {
  display: flex;
  flex-direction: column;
}

// Grid
@mixin gridTwoFour {
  max-width: 75rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin-top: 1rem;

  @media screen and (min-width: 48rem) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  & > div {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}

// Background images
@mixin BgCoverCenter {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $sub-color;
}

// Drop down
@mixin dropDown {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  border: $border-style;
  background-color: $base-color;
  z-index: 5;
}
