@import './config.scss';

.group {
  position: relative;
  margin: 2.5rem 0;

  .form-input {
    background: none;
    background-color: $base-color;
    color: $sub-color;
    font-size: $medium-font;
    padding: 0.5rem 0.5rem 0.5rem 0.25rem;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 0.07rem solid $sub-color;
    margin: 1.5rem 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input[type='password'] {
    letter-spacing: 0.3rem;
  }

  .form-input-label {
    color: $sub-color;
    font-size: $normal-font;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0.25rem;
    top: 0.5rem;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
