.main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  background-color: $base-color;
}

.site-header {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  position: relative;

  .logo-container {
    height: 100%;

    @media screen and (min-width: 26rem) {
      padding-left: 1.5rem;      
    }
  }
}
