.main-nav {
  width: 100%;
  z-index: 10;
  background-color: $base-color;
  box-shadow: 0 1rem 6rem rgba(128, 128, 128, 0.1), 0 1rem 1rem rgba(128, 128, 128, 0.15), 0 0.3rem 1rem rgba(0, 0, 0, 0.1);
  @include fixedPosition();
}

.site-header {
  height: 3rem;
  margin-bottom: 1.5rem;
  position: relative;
  @include flexSpBetween();

  .logo-container {
    height: 100%;

    @media screen and (min-width: 26rem) {
      padding-left: 1.5rem;      
    }

    @media screen and (min-width: 51rem) {
      padding-left: 0;      
    }
  }
}

.header-banner {
  position: relative;
  margin-bottom: 2rem;
  overflow: hidden;
  @include BgCoverCenter();
  @include size(100%, 60vh);
}
