@import '../styles//config.scss';

.table-header {
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
  border-bottom: 0.05rem solid $sub-color;

  .header-block {
    text-transform: capitalize;
    width: 22%;

    &:last-child {
      width: 10%;
    }
  }

  @media screen and (min-width: 48rem) {
    font-size: $medium-font;
  }
}

.table-main {
  width: 100%;
}

.table-footer {
  display: flex;
  flex-direction: column;
  margin-top: 1.75rem;
  width: 100%;

  .total {
    margin-left: auto;
    font-size: $large-font;
    text-transform: uppercase;
  }

  .StripeCheckout {
    width: 8rem;
    margin: 1rem auto;
  }

  .warning-message {
    text-align: center;
    
    @media screen and (min-width: 31rem) {
      font-size: $medium-font;
    }
  }
}
