@import '../../styles/config.scss';

.collection-item {
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
  @include flexColAlCenter();
  @include size(48%, 20rem);

  &:hover,
  &:focus {  
    & .background-image {
      transform: scale(1.05);
      transition: transform 1s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
  }

  .background-image {
    margin-bottom: 0.5rem;
    @include BgCoverCenter();
    @include size(100%, 90%);
  }

  .wish-list-icon {
    width: 1.5rem;
    transition: transform 1s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    overflow: visible;
    @include absoluteRightPosition(0.5rem, 0.5rem);
    
    &:hover,
    &:focus {
      transform: scale(1.2);
    }
  }

  .collection-footer {
    font-size: $medium-font;
    @include flexSpBetween();
    @include size(100%, 5%);

    .name {
      width: 80%;
    }

    .price {
      width: 20%;
    }
  }

  .cta-button {
    width: 80%;
    opacity: 0.7;
    display: none;
    font-size: $smaller-font;
    padding: 0;
    @include absoluteLeftPosition(14rem, auto);
  }

  &:hover,
  &:focus {
    .background-image {
      opacity: 0.8;
    }

    .cta-button {
      display: block;
      opacity: 0.85;
    }
  }

  @media screen and (min-width: 48rem) {
    width: 22%;
    margin-bottom: 0;
  }
}
