// Shop page styles
@import '../../styles/config.scss';

.shop-page {
  .collections-overview {
    @include flexCol();
  }

  .collection-preview {
    margin-bottom: 1rem;
    @include flexCol();
  
    .collection-title {
      color: $sub-color;
      width: 10rem;
      text-align: center;
      margin: 0 auto;
      font-size: $title-font;
      transition: transform 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95);

      &:hover,
      &:focus {
        transform: scale(1.1);
      }

      span {
        color: $main-color;
        display: block;
        font-size: $smaller-font;
        margin-bottom: 0.5rem;
      }
    }

    .title-underline {
      margin: -0.5rem auto 1rem;
      @include size(8rem, 2rem);

      g {
        fill: $sub-color;
      }
    }
  
    .preview {
      flex-wrap: wrap;
      @include flexSpBetween();

      @media screen and (min-width: 48rem) {
        flex-wrap: nowrap;
      }
    }
  }

  .collection-title {
    @include sectionTitle();
  }
}
