// Shop page styles
@import '../../styles/config.scss';

.shop-page {
  .collections-overview {
    display: flex;
    flex-direction: column;
  }

  .title-underline {
    width: 15rem;
    height: 5rem;
    margin: -3rem auto -1rem;
  }

  .collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.75rem;
  
    .title {
      color: $sub-color;
      width: 10rem;
      text-align: center;
      margin: 0 auto;
      font-size: $title-font;
      transition: transform 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95);

      &:hover,
      &:focus {
        cursor: pointer;
        transform: scale(1.1);
      }

      span {
        display: block;
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
      }
    }

    .title-underline {
      width: 8rem;
      height: 2rem;
      margin: -0.5rem auto 1rem;

      g {
        fill: $sub-color;
      }
    }
  
    .preview {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @media screen and (min-width: 48rem) {
        flex-wrap: nowrap;
      }
    }
  }

  .collection-title {
    font-size: 2rem;
    text-align: center;
  }

  .collection-item {
    width: 48%;
    display: flex;
    flex-direction: column;
    height: 20rem;
    align-items: center;
    overflow: hidden;
    position: relative;

    &:hover,
    &:focus {
      cursor: pointer;
  
      & .background-image {
        transform: scale(1.05);
        transition: transform 1s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      }
    }
  
    .background-image {
      width: 100%;
      height: 90%;
      background-size: cover;
      background-position: center;
      margin-bottom: 0.5rem;
    }
  
    .collection-footer {
      width: 100%;
      height: 5%;
      display: flex;
      justify-content: space-between;
      font-size: $medium-font;
  
      .name {
        width: 80%;
      }
  
      .price {
        width: 20%;
      }
    }

    .cta-button {
      width: 80%;
      opacity: 0.7;
      position: absolute;
      top: 14rem;
      display: none;
      font-size: $smaller-font;
      padding: 0;
    }

    &:hover,
    &:focus {
      .background-image {
        opacity: 0.8;
      }

      .cta-button {
        display: block;
        opacity: 0.85;
      }
    }

    @media screen and (min-width: 48rem) {
      width: 22%;
    }
  }
}
