// Login page styles
@import '../../styles/config.scss';
@import '../../styles//form-group.scss';

.login-page {
  display: flex;
  flex-direction: column;

  .login-content {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media screen and (min-width: 48rem) {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  .page-title-underline {
    margin: -2.5rem auto -1rem;
  }

  .title {
    margin: 1rem 0;
  }

  .sign-in, 
  .register {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 20rem;
  }

  .register {
    margin-top: 2rem;
  }

  .sign-in {
    .buttons {
      display: flex;
      justify-content: space-between;
    }

    .cta-button:nth-of-type(2) {
      background-color: $google-blue;
      border: 0.05rem solid $google-blue;

      &:hover,
      &:focus {
        background-color: $base-color;
        color: $google-blue
      }
    }
  }

  @media screen and (min-width: 48rem) {
    .sign-in, 
    .register {
      margin: unset
    }
  }
}
