@import '../../styles//config.scss';

.drop-down-message {
  background-color: $background-color-light;
  z-index: 15;
  @include flexAlJuCenter();
  @include size(100vw, 100vh);
  @include fixedPosition();

  &-content {
    background-color: $base-color;
    overflow-y: scroll;
    position: relative;
    animation: bunceFromTop 2s cubic-bezier(0.280, 0.840, 0.420, 1);
    @include size(90%);
  }

  &-close {
    font-size: $large-font;
    z-index: 20;
    text-align: center;
    background-color: $base-color;
    line-height: 3rem;
    border: $border-style;
    @include size(3rem);
    @include absoluteRightPosition(1rem, 1rem);
  }
}

@keyframes bunceFromTop {
  0%   { transform: scale(1,1) translateY(-200vh); }
  10%  { transform: scale(1.1,.9) translateY(-200vh); }
  30%  { transform: scale(.9,1.1) translateY(0); }
  60%  { transform: scale(1,0.95) translateY(-10vh); }
  70%  { transform: scale(1,1) translateY(0); }
  100% { transform: scale(1,1) translateY(0); }
}
