.collection-page {
  display: flex;
  flex-direction: column;

  .collection-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-top: 1rem;

    & .collection-item {
      width: 100%;
      margin-bottom: 1.5rem;
    }

    @media screen and (min-width: 48rem) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
