$base-color: white;
$sub-color: grey;
$main-color: black;

.container {
  width: 90%;
  margin: 1rem auto;
}

.cta-button {
  width: auto;
  height: 3.125rem;
  letter-spacing: 0.03125rem;
  line-height: 3.125rem;
  padding: 0 2.1875rem 0 2.1875rem;
  font-size: 0.9375rem;
  background-color: $main-color;
  color: $base-color;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: 0.0625rem solid $main-color;
  cursor: pointer;

  &:hover {
    background-color: $base-color;
    color: $main-color;
  }
}

.error {
  color: #FF0404;
}

.cart-icon {
  width: 2.8rem;
  height: 2.8rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .item-count {
    position: absolute;
    font-size: 0.625rem;
    font-weight: bold;
    bottom: 0.75rem;
  }
}

.cart-dropdown {
  position: absolute;
  width: 15rem;
  height: 21.25rem;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  border: 0.0625rem solid black;
  background-color: white;
  top: 5.625rem;
  right: 2.5rem;
  z-index: 5;

  .cart-items {
    height: 15rem;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  .cta-button {
    margin-top: auto;
    text-transform: uppercase;
  }
}

.site-header {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;

  .logo-container {
    height: 100%;
    padding-left: 1.5rem;
  }

  .nav {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 2;

    .nav-option {
      text-transform: uppercase;
      padding: 0.625rem 1rem;
      cursor: pointer;
      transition: transform 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95);

      &:hover,
      &:focus {
        text-decoration: underline;
        transform: scale(1.1);
      }
    }
  }
}
