// Main App styles
@import './styles//config.scss';
@import './styles/cart.scss';
@import './styles/header.scss';

.container {
  width: 90%;
  max-width: 75rem;
  margin: 1rem auto;
}

.cta-button {
  letter-spacing: 0.03125rem;
  line-height: 3.125rem;
  padding: 0 2rem 0 2rem;
  font-size: $small-font;
  color: $base-color;
  background-color: $main-color;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: $border-style;
  @include flexJuCenter();
  @include size(auto, 3.125rem);

  &:hover,
  &:focus {
    color: $main-color;
    background-color: $base-color;
  }

  &.inverted {
    background-color: $base-color;
    color: $main-color;

    &:hover,
    &:focus {
      background-color: $main-color;
      color: $base-color;
    }
  }
}

.warning-message {
  color: $error-color;
}

.page-title {
  @include sectionTitle();

  &-underline {
    margin: -3rem auto 1rem;
    @include size(15rem, 5rem);
  }
}

.short-page {
  text-align: center;
  @include flexColAlCenter();

  .main-image {
    @include size(100%, auto);
  }
}

.pointer {
  cursor: pointer;
}
