// Main App styles
@import './styles//config.scss';
@import './styles/cart.scss';

.container {
  width: 90%;
  margin: 1rem auto;
}

.cta-button {
  width: auto;
  height: 3.125rem;
  letter-spacing: 0.03125rem;
  line-height: 3.125rem;
  padding: 0 2rem 0 2rem;
  font-size: $small-font;
  background-color: $main-color;
  color: $base-color;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: $border-style;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover,
  &:focus {
    background-color: $base-color;
    color: $main-color;
  }

  &.inverted {
    background-color: $base-color;
    color: $main-color;

    &:hover,
    &:focus {
      background-color: $main-color;
      color: $base-color;
    }
  }
}

.error {
  color: $error-color;
}

.site-header {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;

  .logo-container {
    height: 100%;
    padding-left: 1.5rem;
  }

  .nav {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 2;

    .nav-option {
      text-transform: uppercase;
      padding: 0.5rem 1rem;
      cursor: pointer;
      transition: transform 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95);

      &:hover,
      &:focus {
        text-decoration: underline;
        transform: scale(1.1);
      }
    }
  }
}

.site-footer {
  display: flex;
  justify-content: center;
}
