// CheckOut page styles
@import '../../styles/config.scss';
@import '../../styles/table.scss';

.checkout-page {
  width: 90%;
  max-width: 45rem;
  min-height: 90vh;
  padding-top: 2rem;
  @include flexColAlCenter();

  .checkout-item {
    width: 100%;
    min-height: 6.25rem;
    border-bottom: 0.05rem solid $sub-color;
    padding: 1rem 0;
    font-size: $medium-font;
    @include flexAlCenter();
  
    .image-container {
      width: 23%;
      padding-right: 1rem;
  
      img {
        @include size(100%);
      }
    }
    .name,
    .quantity,
    .price {
      width: 23%;
    }
  
    .quantity {
      display: flex;
      
      .arrow {
        position: relative;

        &:hover {
          &:after {
            font-size: $xsmall-font;
            font-weight: bold;
            letter-spacing: 0.1rem;
            background-color: $background-color-light;
            padding: 0.2rem 0.5rem;
            @include absoluteLeftPosition(0.3rem, auto);
          }

          &:first-of-type {
            &:after {
              content: 'Reduce';
              left: -2.5rem;
            }
          }

          &:last-of-type {
            &:after {
              content: 'Add';
              left: 0.5rem;
            }
          }
        }
      }

      .value {
        margin: 0 0.5rem;
      }
    }
  
    .remove-button {
      padding-left: 0.75rem;
    }
  }

  .take-action {
    font-weight: bold;
    @include flexColAlJuCenter();
  }

  .preloader-overlay {
    z-index: 15;
    @include fixedPosition();
  }
}
