@import '../../styles/config.scss';
@import '../../styles/table.scss';

.account-page {
  .header-banner {
    height: 40vh;
    @include flexAlCenter();
  }

  .account-welcome {
    background-color: rgba(255, 255, 255, 0.6);
    transform: rotate(45deg);
    margin: 0 5rem 0 auto;
    outline: 1rem solid rgba(255, 255, 255, 0.6);
    outline-offset: 1rem;
    @include flexColAlJuCenter();
    @include size(11rem);

    @media screen and (min-width: 31rem) {
      @include absoluteRightPosition(auto, 20%);
    }

    &-background {
      transform: rotate(-45deg);
    }
  }

  &-header {
    width: 80%;
    margin: 0 auto;
  }

  &-cta {
    margin: 1rem auto;
    @include flexSpAround();
  }

  &-display {
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    box-shadow: 0 3rem 6rem rgba(128,128,128,.1), 0 1rem 2rem rgba(128,128,128,.15), 0 0.3rem 1rem rgba(0,0,0,.1);
    @include size(100%, 50vh);

    @media screen and (min-width: 48rem) {
      height: 80vh;
    }
  }

  .orders-overview {
    padding: 0.5rem;
  }
  
  .table-footer {
    text-align: center;
  }

  .orders-container {
    width: 200%;
    display: flex;
    transition:left 0.5s ease-out;
    @include absoluteLeftPosition(0, auto);

    .orders-overview,
    .order-details-container {
      width: 50%;
    }
  }

  .order-details-container .pointer {
    padding-left: 0.5rem;
  }

  .wish-list {
    @include gridTwoFour();
  }
}

.temp-title {
  height: 100%;
  @include flexColAlJuCenter();
}

.empty-title {
  text-align: center;
}
