// Colors
$base-color: white;
$sub-color: grey;
$main-color: black;
$error-color: #FF0404;
$google-blue: #4285F4;

// Font size
$smaller-font: 0.75rem;
$small-font: 0.9rem;
$normal-font: 1rem;
$medium-font: 1.125rem;
$title-font: 1.5rem;

// Other
$border-style: 0.05rem solid $main-color;

// mixin
@mixin shrinkLabel {
  top: -1rem;
  font-size: $smaller-font;
  color: $main-color;
}

@mixin sectionTitle {
  font-size: 2rem;
  text-align: center;
}

@mixin flexColCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin dropDown {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  border: $border-style;
  background-color: $base-color;
  z-index: 5;
}
