.site-footer {
  color: $base-color;
  background-color: rgba(128, 128, 128, 0.6);
  padding: 1rem;

  @include flexColCenter();

  .tomki-link {
    font-weight: bold;
    color: $base-color;
  }

  .footer {
    &-nav {
      width: 100%;
      display: flex;
      justify-content: space-around;

      @media screen and (min-width: 31rem) {
        font-size: 1rem;
      }

      .nav-title  {
        font-weight: bold;
      }

      .nav-option {
        text-transform: capitalize;
        color: $base-color;
        width: fit-content;
      }
    } 
    &-section {
      display: flex;
      flex-direction: column;
      width: 30%;
      padding: 1rem;
      border-right: 0.05rem solid $sub-color;

      &:last-of-type {
        border-right: 0;
      }

      .logo-container {
        transform: none;
        padding-left: 1rem;
      }
    }
  }
}
