// Home page styles
@import '../../styles/config.scss';

.home-page {
  @include flexColAlCenter();
}

.three-images-block {
  display: flex;
  @include size(100%);

  .image-container {
    width: 33%;
    position: relative;

    &:nth-of-type(1) {
      .image-block {
        bottom: 5%;
        left: 5%;
      }
    }

    &:nth-of-type(2) {
      width: 34%;

      .image-block {
        z-index: 0;
        top: 10%;
        left: -75%;
        @include size(250%, 80%);

        @media screen and (min-width: 31rem) {
          width: 150%;
          left: -25%;
        }
      }
    }
    
    &:nth-of-type(3) {
      .image-block {
        top: 5%;
        right: 5%;
      }
    }
  }

  .image-block {
    z-index: 2;
    border: 0.3rem solid $base-color;
    position: absolute;
    @include BgCoverCenter();
    @include size(8rem);

    @media screen and (min-width: 31rem) {
      @include size(12rem);
    }

    @media screen and (min-width: 48rem) {
      @include size(15rem);
    }
  }
}

.image-banner {
  margin-bottom: 2rem;
  overflow: hidden;
  position: relative;
  @include BgCoverCenter();
  @include size(100%, 50vh);

  .cta-block {
    color: $base-color;
    @include flexAlJuCenter();
    @include size(100%);
    @include absoluteLeftPosition();

    &-box {
      background-color: $background-color-lighter;
      border: 0.05rem solid $base-color;
      outline:0.1rem solid $base-color;
      outline-offset: 0.5rem;
      @include flexColAlJuCenter();
      @include size(80%);
    }

    &-title {
      text-transform: uppercase;
      font-size: $title-font;
    }

    &-subtitle {
      font-size: $large-font;
      color: $gold-color;
      font-weight: bold;
      margin: 0.2rem;
    }

    &-message {
      font-size: $title-font;
    }
    
    @media screen and (min-width: 31rem) {
      width: 50%;
    }
  }
}
