@import '../../styles/config.scss';

.header-title-block {
  font-size: $title-font;
  text-align: center;
  @include flexAlJuCenter();
  @include size(100%);

  .title-container {
    color: $gold-color;
    text-shadow: 0.1rem 0.1rem $main-color;
    background-color: $background-color-lighter;
    border: 0.05rem solid $base-color;
    outline:0.1rem solid $base-color;
    outline-offset: 1rem;
    @include flexColAlJuCenter();
    @include size(80%);

    h2 {
      font-size: $large-font;

      @media screen and (min-width: 31rem) {
        font-size: $xlarger-font;
      }
    }
  }
}
